/* Estilo para los encabezados */
h1 {
  color: #007bff;
  font-size: 24px;
}

/* Estilo para los párrafos */
p {
  color: #470000;
  font-size: 16px;
}

/* Estilo para los enlaces */
a {
  color: #c300ff;
  text-decoration: none;
}
